@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 * {
    margin: 0;
    padding: 0;
 }
 body{
    height: 100%;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;   
 }
 .container{
    display: flex;
    width: 1236px;
    height: 808px;
    
 }
 .image-container{
    position: relative;
    width: 450px;
    height: 808px;
 }
 .logo-container{
    width: 450px;
    height: 150px;
    background-color: #101010;
    background-color: rgba(16, 16, 16, 0.5);
    position: absolute;
    top: 200px; 
    left: 0; 
}
.logo-image{
    
    width: 100px;
    height: 120px;
    position: absolute;
    top: 15px;
    left: 110px;
}
.logo-text{
    font-family: "norsebold", serif;
    color: white;
    font-size: 90px;
    position: absolute;
    top: 25px;
    left: 210px;
}
.caption{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: absolute;
    top: 770px;
    left: 108px;
}
div.caption > a{
    text-decoration: underline;
    color: white;
    padding: 0;
    margin: 0;
    border: 0;
}
.form-container{
    width: 786px;
    height: 808px;
    background-color: #F5F5F5;
    
 }
.top-container{
    width: 786px;
    height: 245px;
    /*padding: 100px 100px 50px 20px ;*/
}
.text-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding: 100px 10px 0px 20px;
    margin-bottom: 50px;
}
.main-form-container{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    width: 786px;
    height: 400px;
    background-color: white;
    box-shadow: 0px 7px 7px #D3D3D3;
    
 }
 .heading{
    font-size: 25px;
    box-sizing: border-box;
    padding: 20px 0px 40px 20px;
 }
 #main-form{
    display: flex;
    flex-wrap: wrap; 
    gap: 80px;
    box-sizing: border-box;
    width: 600px;
    height: 320px;
    margin-left: 20px;
 }
 form > div{
    width: 255px;
    height: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2px;
 }
 div > label{
    font-size: 12px;
    font-weight: bold;
    color: #505050;
    letter-spacing: .2em;
 }
 
 input[type="text"],
 input[type="email"],
 input[type="tel"],
 input[type="password"]{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 10px;
    height: 30px;
    width: 100%;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 7px;
    outline: none;
 }
 div[id='email-div'],
 div[id='phone-number-div'],
 div[id='password-div'],
 div[id='confirm-password-div']{
     margin-top: -60px;
 }
 input:focus{
    border: 1px solid blue;
    box-shadow: 3px 5px 5px #D3D3D3;
 }
 input[type='password']:invalid{
    border: 1px solid red;
 }
 div[id='password-div']{
    height: 75px;
 }
 input + span{
    position: relative;
 }
 input:required + span::after{
    content: '* Passwords do not match';
    color: red;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 3px;
 }
 button[type="submit"] {
    background-color: #556B2F;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
}
.account-already{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 20px;
}
.account-link{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: #556B2F;
}