 * {
    margin: 0;
    padding: 0;
 }
 body{
    height: 780px;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .container{
    display: flex;
    width: 1000px;
    height: 780px;
    border: 1px solid red;
 }
 .image-container{
    border: 1px solid red;
 }
 .form-container{
    border: 1px solid red;
 }